<?xml version="1.5" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>TormentaRPG.Cast.RRPGFirecast</id>
	<version>1.5</version>
	<name>Ficha Tormenta RPG</name>
	<description>Ficha de Tormenta para o RRPG Firecast.</description>
	<author>Tricket</author>
	<site>https://github.com/rafaelhonorio/projetosFirecast/tree/main/Projetos/Tormenta</site>
	<contact>rafaelhgmr@gmail.com</contact>
</module>
