<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <id>rrpg.com.cast.mundosdosmortos</id>
    <version>1.5</version>
    <name>Ficha Os Mundos Dos Mortos</name>
    <description>Ficha Os Mundos dos Mortos para o RRPG Firecast.</description>
    <author>CastielAngels e Tricket</author>
    <site>http://www.rrpg.com.br</site>
    <contact>rafaelhgmr@gmail.com</contact>
</module>
