<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <id>rrpg.com.cast.vampiroamascara</id>
    <version>1.0</version>
    <name>Ficha Vampiro a Mascara</name>
    <description>Ficha Vampiro a Mascara para o RRPG Firecast.</description>
    <author>Tricket</author>
    <site>http://www.rrpg.com.br</site>
    <contact>rafaelhgmr@gmail.com</contact>
</module>
